---
import Layout from "../layouts/Layout.astro"
import banner from "../assets/IAhuman.png"
---

<Layout title="Acerca de">
    <div class="bg-gradient-to-b from-sky-900 via-cyan-900 to-black">
        <div class="banner-wrapper flex justify-end width">
            <img src={banner.src };>
        </div>
    </div>
</Layout>