---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<div class="h-screen bg-gradient-to-b from-black via-gray-900 to-neutral-900">
		<div class="md:container text-center">
			<h1>ajiji</h1>
		</div>
	</div>
	<div class="bg-neutral-900">
		<div class="hero min-h-screen">
			<div class="hero-content text-center">
				<div class="max-w-md">
					<h1 class="text-5xl font-bold">¿Qué es IA?</h1>
					<p class="py-6">
						Modernizate y aprende a enseñar con la Inteligencia Artificial
					</p>
					<a href="/about" class="btn btn-outline btn-info">Iniciar</a>
				</div>
			</div>
		</div>
	</div>
</Layout>
