<footer class="footer p-10 bg-neutral-800 text-base-content">
    <nav>
      <header class="footer-title">Cursos</header> 
      <a class="link link-hover" href="https://platzi.com/ruta/machine-learning-aws/">Platzi</a> 
      <a class="link link-hover" href="https://www.youtube.com/watch?v=HHqlEnoGk54&list=PLJjOveEiVE4Cbbx1dVjydfmPPpjl0pg86">Youtube</a> 
      <a class="link link-hover" href="https://midu.dev">Midudev</a> 
    </nav> 
    <nav>
      <header class="footer-title">Artículos</header> 
      <a class="link link-hover" href="https://www.google.com.mx/books/edition/Python_machine_learning/c6a2wgEACAAJ?hl=es">Google libros</a> 
      <a class="link link-hover" href="https://www.scielo.cl/scielo.php?script=sci_arttext&pid=S0034-98872021000200248">Scielo</a> 
      <a class="link link-hover" href="grid grid-cols-3 grid-rows-3 content-stretch">Zulia University</a> 
    </nav>
    <nav>
      <header class="footer-title">Social</header> 
      <div class="grid grid-flow-col gap-4">
        <a class="btn btn-outline btn-info" href="https://www.facebook.com/daxxelamador/">
          Facebook
        </a>
        <a class="btn btn-outline btn-error" href="https://www.instagram.com/daaxel_si/">
          Instagram
        </a>
        <a class="btn btn-outline btn-neutral" href="https://github.com/Daxxel/MachepeLearning">
          Github
        </a>
      </div>
    </nav>
  </footer>